<span class="titleTex">


  <h2>
    Usar un correo electronico
  </h2>

  <!--
    <span class="title">
      <h2 id="sendbolTxt">
        sendbol
      </h2>
    <h2 id="videoTxt">
      VIDEOSHOP
    </h2>
  </span>
  -->

  <h3>
    Comprobaremos si tienes una cuenta y, si no, te ayudaremos a crear una.
  </h3>

</span>

<span class="logButtons">

  <mat-form-field appearance="outline">
    <mat-label>Correo (personal o profesional)</mat-label>
    <input matInput placeholder="ejemplo@correo.com">
    <mat-icon matSuffix>mail</mat-icon>
  </mat-form-field>

  <button
  mat-flat-button
  (click)="clickNextButton()"
  >
    Continuar
  </button>

</span>

<span class="titleTex">
  <h4>
    Al continuar, aceptas los
    <a href="https://www.sendbol.com/terms-and-conditions" target="_blank">
      Términos y condiciones de uso
    </a>
    . Consulta nuestra
    <a href="https://www.sendbol.com/privacy-policy" target="_blank">
      Política de privacidad.
    </a>

  </h4>
</span>

