<span class="titleTex">


  <h2>
    {{dialogTitle}}
  </h2>

  <!--
    <span class="title">
      <h2 id="sendbolTxt">
        sendbol
      </h2>
    <h2 id="videoTxt">
      VIDEOSHOP
    </h2>
  </span>
  -->

  <h3>
    {{dialogSubtitle}}
  </h3>

</span>

<span class="logButtons">
  <form [formGroup]="emailFormGroup" class="formNames" (ngSubmit)="onSubmit()">

    <!--CMMT Componente Formulario Correo-->
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Correo (personal o profesional)</mat-label>

        <input
          matInput
          placeholder=""
          formControlName="correo"
          (input)="this.clickNextButtonValue = false; "
          (blur)="updateErrorMessage('correo')"
          required
        >
        @if (emailFormGroup.get('correo')?.invalid) {
          <mat-error>{{errorMessageCorreo()}}</mat-error>
        }
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>
    </p>

    @if (clickNextButtonValue ) {
    <!--CMMT Componente Formulario Contraseña-->
    <p>

      <mat-form-field appearance="outline">
        <mat-label>{{passwordField}}</mat-label>

        <input
        matInput [type]="hide() ? 'password' : 'text'"
        [formControlName]="inputFormNameCont"
        (blur)="updateErrorMessage(inputFormNameCont)"

        />
        @if (emailFormGroup.get(inputFormNameCont)?.invalid) {
          <mat-error>{{errorMessageContrasena()}}</mat-error>
        }
        <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Esconder contraseña'"
          [attr.aria-pressed]="hide()">
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </p>
    }

    <p>
      <button
      mat-flat-button
      (click)="clickNextButton()"
      >
        Continuar
      </button>
    </p>
  </form>



</span>

<span class="titleTex">
  <h4>
    Al continuar, aceptas los
    <a href="https://www.sendbol.com/terms-and-conditions" target="_blank">
      Términos y condiciones de uso
    </a>
    . Consulta nuestra
    <a href="https://www.sendbol.com/privacy-policy" target="_blank">
      Política de privacidad.
    </a>

  </h4>
</span>

