<mat-accordion class="example-headers-align" multi id="card{{producto?.Id}}" class="example-card" appearance="outlined"
  (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
  <mat-expansion-panel [expanded]="isExpanded">
    <mat-expansion-panel-header>
      <span class="mat-content">


        <mat-panel-title
          [style.background-image]="'url(' + ('./assets/images/products/' + (producto?.imagenes?.[0] || './assets/images/products/default-image.webp')) + ')'"
          style="background-size: cover; background-position: center; background-repeat: no-repeat;">

        </mat-panel-title>

        <mat-card-title>{{producto?.titulo}}</mat-card-title>
        <div class="svgContainer">
          @for (plataforma of plataformas; track $index) {
            <app-svg-icon [name]="plataforma" width="32px" height="32px" fill="currentColor"></app-svg-icon>
          }
        </div>

      </span>
    </mat-expansion-panel-header>


    <button mat-button (click)="openDialog(producto)">Comprar</button>
    <button mat-mini-fab aria-label="Example icon button with a menu icon">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>


  </mat-expansion-panel>
</mat-accordion>
