

.sendbol{
  display: flex;
  align-items: center;
}

.sendbol h4 {
  font-family: 'Typo-hoop';
  font-size: 2em;
}

.video h4 {
  font-family: 'Cred';
  font-size: 3.5em;
}


#fiCel.footer-item{
  display: flex;
  padding: 1rem;
  //background-color: var(--mat-sidenav-content-background-color, var(--mat-app-background));
  border-top: 1px solid #e9ecef;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.footer-item {
  border-top: 2px solid var(--mat-fab-small-foreground-color);
  border-right: 2px solid var(--mat-fab-small-foreground-color);
  border-left: 2px solid var(--mat-fab-small-foreground-color);
  border-bottom: none;
  border-radius: 15px 15px 0 0;
  padding: 3rem;
  margin: 1%;
  flex: 1 1 100%;
  background-color: #5d1c22;
  color: var(--mat-fab-small-foreground-color);/* Cambia el color de la fuente a blanco */
  //background-color: var(--mat-sidenav-content-background-color, var(--mat-app-background));
}


.footer-item h4, .footer-item h5 , .footer-item span{
  margin: 0;
  color: var(--mat-fab-small-foreground-color); /* Cambia el color de la fuente a blanco */
}

.footer-item mat-list-item {

  padding: 0;

  color: var(--mat-fab-small-foreground-color); /* Cambia el color de la fuente a blanco */
}

.socialLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  gap: 1rem; /* Agrega espacio entre cada uno de los elementos */
}
