<span class="titleTex">


  <h2>
    Bienvenido a
  </h2>

  <span class="title">
    <h2 id="sendbolTxt">
      sendbol
    </h2>
    <h2 id="videoTxt">
      VIDEOSHOP
    </h2>
  </span>

  <h3>
    Usa tu correo electronico u otro servicio para acceder a tu cuenta de videoshop
  </h3>

</span>

<span class="logButtons">

  <button mat-stroked-button>
    Continuar con Google
    <mat-icon>shopping_cart_checkout</mat-icon>

  </button>

  <button mat-stroked-button>
    Continuar con Facebook
    <mat-icon>shopping_cart_checkout</mat-icon>
  </button>

  <button
  mat-stroked-button
  (click)="clickButton()"
  >
    Continuar con correo
    <mat-icon>mail_outline</mat-icon>
  </button>

</span>

<span class="titleTex">
  <h4>
    Al continuar, aceptas los
    <a href="https://www.sendbol.com/terms-and-conditions" target="_blank">
      Términos y condiciones de uso
    </a>
    . Consulta nuestra
    <a href="https://www.sendbol.com/privacy-policy" target="_blank">
      Política de privacidad.
    </a>

  </h4>
</span>

