

<!--
-->
  <div id="g_id_onload"
  data-client_id="510199095390-a28kik8nrqqddqdgp7ofctovmuouknqt.apps.googleusercontent.com"
  data-context="signup"
  data-ux_mode="popup"
  data-login_uri="https://localhost:54993"
  data-itp_support="true">





<span class="titleTex">


  <h2>
    Bienvenido a
  </h2>

  <span class="title">
    <h2 id="sendbolTxt">
      sendbol
    </h2>
    <h2 id="videoTxt">
      VIDEOSHOP
    </h2>
  </span>

  <h3>
    Usa tu correo electronico u otro servicio para acceder a tu cuenta de videoshop
  </h3>

</span>


<span class="logButtons">

  <!--

  <div class="g_id_signin"
  data-type="standard"
  data-shape="pill"
  data-theme="outline"
  data-text="continue_with"
  data-size="large"
  data-logo_alignment="left">
  </div>
-->

<asl-google-signin-button style="color-scheme: light;"  type='standard' size='large' text='continue_with' theme = 'outline'  shape='pill' >
</asl-google-signin-button>


<!--
<button
  mat-stroked-button
  (click)="loginWithGoogle()"
  >
    Continuar con Google
    <mat-icon>shopping_cart_checkout</mat-icon>

  </button>
-->
  <button mat-stroked-button>
    Continuar con Facebook
    <mat-icon>shopping_cart_checkout</mat-icon>
  </button>

  <button
  mat-stroked-button
  (click)="clickButton()"
  >
    Continuar con correo
    <mat-icon>mail_outline</mat-icon>
  </button>

</span>

<span class="titleTex">
  <h4>
    Al continuar, aceptas los
    <a href="https://www.sendbol.com/terms-and-conditions" target="_blank">
      Términos y condiciones de uso
    </a>
    . Consulta nuestra
    <a href="https://www.sendbol.com/privacy-policy" target="_blank">
      Política de privacidad.
    </a>

  </h4>
</span>

