<!-- NAVBAR DESKTOP -->
@if(currentBreakpoint == breakpoints.XLarge || currentBreakpoint == breakpoints.Large || currentBreakpoint == breakpoints.Medium) {
  <div class="navbar">
    <div class="searchbarSection">
      <div class="logobrand">
        <a routerLink="" class="title" id="titlePc">
          <span class="sendbol"><h4>sendbol</h4></span>
          <span class="video"><h4>VIDEOSHOP</h4></span>
        </a>
      </div>
      <div class="searchbar">
        <mat-form-field appearance="outline" class="searchbar-field">
          <input matInput placeholder="Buscar juegos, cuentas, tarjetas de regalo y mas! 🎮📽️" />
          <button mat-icon-button matSuffix>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="buttons">
        <span class="buttonSpacer">
          <button mat-fab aria-label="Account" [matMenuTriggerFor]="menu">
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            @if (usuarioExists) {
              <mat-card class="user-card" appearance="outlined">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>
                    {{usuarioEnSesion?.nombre}}
                    {{usuarioEnSesion?.apellido}}
                  </mat-card-title>
                  <mat-card-subtitle>
                    <button mat-button>gestionar mi cuenta</button></mat-card-subtitle>
                </mat-card-header>

                  <mat-card-actions>
                    <button
                    mat-stroked-button

                    >
                      <mat-icon>logout</mat-icon>
                      Cerrar Sesion
                    </button>
                  </mat-card-actions>
              </mat-card>


            } @else {
              <button mat-menu-item (click)="openDialog('userManagement')">Acceder</button>
            }
          </mat-menu>
        </span>
        <span class="buttonSpacer">
          <button mat-fab aria-label="Shopping cart">

            <mat-icon>shopping_cart</mat-icon>
          </button>
        </span>
        <span class="buttonSpacer">
          <button
          mat-fab aria-label="Store"
          (click)="openDialog('upload')"
          >

            <mat-icon>storefront</mat-icon>
          </button>
        </span>
      </div>
    </div>


    <div class="dropdownSection">
      <button mat-button [matMenuTriggerFor]="menuCategorias">
        <mat-icon>menu</mat-icon>
        <h6>
          Categorias
        </h6>
      </button>
      <mat-menu #menuCategorias="matMenu">
        @for (categoria of categorias; track $index) {
          <button mat-menu-item>{{categoria.titulo}}</button>
        }
      </mat-menu>

      <button mat-button [routerLink]="['filtro/mas-gustado']">
        <mat-icon>favorite</mat-icon>
        <h6>
          Lo más gustado
        </h6>
      </button>

      <button mat-button>
        <mat-icon>attach_money</mat-icon>
        <h6>
          Lo más barato
        </h6>
      </button>

    </div>
  </div>
}

<!-- NAVBAR MOBILE -->
@else if (currentBreakpoint == breakpoints.XSmall || currentBreakpoint == breakpoints.Small) {
  <div class="navbar">
    <mat-toolbar class="inner-navbar">
      <span class="title" id="titleCel">
        <span class="sendbol"><h4>sendbol</h4></span>
        <span class="video"><h4>VIDEO</h4></span>
      </span>
      <span class="example-spacer"></span>
    </mat-toolbar>
  </div>
}
