@use '@angular/material' as mat;



.navbar {
  border: 3px solid var(--mat-fab-small-foreground-color);
  border-radius: 15px;
  margin: 1%;

  background-color: #5d1c22;
  box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.235) !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.dropdownSection{
  background-color: #4b1c1c;
  width: 100%;
  border-radius: 15px;
  padding: 0.1% 2% 0.1% 2%;
}


.searchbarSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;

  padding: 0.5% 2% 0.2% 2%;
}

.logobrand {
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.title h4 {
  text-decoration: none;
  color: var(--mat-fab-small-foreground-color);
}
.sendbol{
  display: flex;
  align-items: center;
}

.sendbol h4 {
  font-family: 'Typo-hoop';
  font-size: 2em;
}

.video h4 {
  font-family: 'Cred';
  font-size: 3.5em;
}

.inner-navbar {
  gap: 1rem;
}

.searchbar {
  display: flex;
    @include mat.form-field-overrides((
    outlined-outline-width: 2px,
    outlined-focus-outline-width: 2px,
    outlined-container-shape: 15px,
    //outlined-label-text-color: green,
    //outlined-input-text-color: green,

    //border color
    outlined-outline-color: var(--mat-fab-small-foreground-color),
    //cursor mouse
    //outlined-caret-color: green,
  ));
}

.searchbar-field {
  width: 30vw;
  margin-bottom: -1.25em;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttonSpacer {
  margin: 0.5rem;
  padding: 0.5rem;
}


h6,h4 {
  padding: 0px;
  margin: 0px;
  line-height: 100%;
}
