@use '@angular/material' as mat;






.mat-toolbar {
  background-color: transparent !important;
  //box-shadow: none; /* Opcional: elimina la sombra si está presente */
}

.title{
  display: flex;
  flex-direction: row;text-decoration: none;
  text-align: center;
}

.title h4{

  text-decoration: none; /* Elimina el subrayado */
  color: var(--mat-fab-small-foreground-color); /* Cambia el color del texto a blanco */
  //color: var(--primary-color-text, var(--mat-text-color));
}

.sendbol h4{
  font-family: 'Typo-hoop';
}
.video h4{
  font-family: 'Cred';
}

#br1.navbar-brand a{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  //background-color: var(--mat-sidenav-content-background-color, var(--mat-app-background))
}


#titlePc.video h4{
  font-size: 2.5em;
}
#titlePc.sendbol h4{
  font-size: 1.5em;
}


#titleCel.video h4{
  font-size: 2.5em;
}
#titleCel.sendbol h4{
  font-size: 1.5em;
}

.navbar {
  border: 2px solid var(--mat-fab-small-foreground-color); /* Cambia el color del borde a blanco */
  border-radius: 15px; /* Bordes redondeados */
  margin: 1%;
  padding: 1%;
  background-color: #5d1c22;
  box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.235) !important;
}

.inner-navbar{
  gap: 1rem;
}

.p-inputtext {
  background: #5d1c22;
  border: 2px solid white;
}

.p-inputgroupaddon {
  background: transparent;
  color: #ffffff;
  border-block-start: 1px solid white;
  border-block-end: 1px solid white;
  min-width: var(--p-inputgroup-addon-min-width);
}

.p-inputgroupaddon:last-child {
  border-inline-end: 1px solid white;
}

.searchbar{
  @include mat.form-field-overrides((
    outlined-outline-width: 3px,
    //outlined-container-shape: 20px,
    //outlined-focus-outline-width : px,
    //container-vertical-padding: 10px,
    container-height: 50px,
));
  display: flex;
}

.buttonSpacer{
  margin: 0.5rem;
  padding: 0.5rem;
}
