<div class="mat-dia-container">


<mat-dialog-content>



  <div class="dialogContentContainer">
      <div class="infoPanel">
        @switch (condition){
          @case (1) {
            <app-email-check-items (emailNextButtonCLick)="recieveData($event, 2)">
            </app-email-check-items>
          }
          @case (2) {
            <app-register-items
            [usuario]="usuario"
            (sendButtonClick)="sendButtonFinalClick($event)"
            ></app-register-items>

          }
          @case (3) {

          }
          @default {
            <app-login-items (emailButtonCLick)="changePage(1)">
            </app-login-items>
          }
        }

      </div>


    <div class="photoPanel">


    </div>

  </div>
</mat-dialog-content>
</div>
