/*
.carousel{
  width: inherit;
}
.carousel,.item,.active{
  height:100%;
}
.carousel-inner{
  height:100%;
  object-fit: contain;
}
*/

.w-100 {
  height: 100% !important;
  width: auto;
}
.flex-container {
  display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;

}

/*Material Accordeon principal*/
.mat-accordion {
  display: grid;
  margin: 10px;
  max-width: 248px;
  min-width: 200px;
}



.carousel{
  margin: 2%;
}

.carousel-inner {
  border-radius: 15px; /* Bordes redondeados */
}

/*acordeon contenido sin abrir*/
.mat-expansion-panel-header{
  display: flex;
  flex-direction: column;
  min-height: 290px;
  height: 100%;
  width: 100%;
}

/*contenido del acordeon*/
.mat-content {
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.card{
  margin: 2%;
  width: 70vw;
  background-color: transparent;
  --cui-card-border-color: var(--mat-fab-small-foreground-color);
  color: var(--mat-fab-small-foreground-color);
  //border: var(--cui-card-border-width) solid rgb(255 255 255);
  border-radius: var(--cui-card-border-radius)
}


.homeContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}
