<mat-dialog-content>


  <div class="dialogContentContainer">


    <div class="photoPanel">
      <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '640px' }"
        [numVisible]="5">
        <ng-template #item let-item>
          <img [src]="item.itemImageSrc" style="width:100%" />
        </ng-template>
        <ng-template #thumbnail let-item>
          <img [src]="item.thumbnailImageSrc" />
        </ng-template>
      </p-galleria>
    </div>




    <div class="infoPanel">
      <h2 mat-dialog-title>{{data.nombre}} </h2>
      <h2 mat-dialog-title>{{data.precio}} </h2>

    </div>



    <div class=" purchasePanel">
      {{data.descripcion}}

      <div class="purButtons">
        <button mat-flat-button>
          Lo quiero!
          <mat-icon>shopping_cart_checkout</mat-icon>
        </button>
        <button mat-stroked-button>
          Agregar al Carrito
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
        <button mat-fab extended>
          <mat-icon>share</mat-icon>
          Compartir
        </button>

      </div>

    </div>

  </div>
</mat-dialog-content>
